    /*Estilos para la barra de scroll*/

::-webkit-scrollbar {
    width: 10px;
}
    
::-webkit-scrollbar-track {
    background: rgb(245, 251, 255);
}
    
::-webkit-scrollbar-thumb {
    background: rgb(223, 243, 255);
}

    /*Estilos de -index-

Estilos generales*/

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 99);
}

body {
    background-color: rgb(245, 251, 255);
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-image: url('logo.jpg'); 
    background-size: cover; 
    padding: 50px;
    text-align: center; 
    position: relative; 
}

header h1 {
    margin: 0; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(206, 237, 255);
    text-shadow: 
        -1px -1px 0 rgb(13, 163, 228),  
         1px -1px 0 rgb(28, 45, 53),
        -1px  1px 0 rgb(18, 27, 31),
         1px  1px 0 rgb(8, 9, 10);
}

header nav {
    margin-top: 70px;
    padding: 10px; 
    border-radius: 10px; 
    background-color: rgb(206, 237, 255, 0.5);
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

header nav ul li {
    display: inline; 
    margin-right: 20px; 
    background-color: rgb(206, 237, 255); 
    padding: 10px 15px; /* Aumenta el tamaño del padding */
    border-radius: 5px;
    position: relative; /* Necesario para el efecto hover */
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s; /* Añade una transición suave */
}

h2 {
    color: rgb(67, 102, 122); 
}

h3 {
    color: rgb(67, 102, 122);
    font-style: italic;
    text-align: center;
}

h4 {
    color: rgb(118, 173, 196);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-shadow:1px  1px 0 rgb(0, 107, 153);
    padding: 10px; 
    background-color: rgba(183, 219, 235, 0.5); 
    border-radius: 2px; 
}


main {
    padding: 20px;
    margin-right: 170px;
    margin-bottom: 100px;
}


    /*Estilo para que se ilumine el nav ul li a del header*/

nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(67, 102, 122);
    text-decoration: none;
    transition: color 0.5s;
}

nav ul li a:hover {
    background: rgb(206, 237, 255);
    color: rgb(0, 107, 153);
    box-shadow: 0 0 5px rgb(206, 237, 255),
                0 0 25px rgb(206, 237, 255),
                0 0 50px rgb(206, 237, 255),
                0 0 200px rgb(206, 237, 255);
}

nav ul li a:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ligth-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.5s;
}

nav ul li a:hover:before {
    left: 0;
}

.swiper-pagination-bullet {
    background: var(--ligth-color) !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 0 !important;
}



/*Estilo del footer*/

footer {
    background-color: rgb(67, 102, 122); 
    color: #fff; 
    position: fixed; 
    width: 100%; 
    bottom: 0;
    text-align: center; 
    font-size: 14px; 
    line-height: 1px; 
}

footer nav {
    margin-top: 50px;
}

footer nav ul {
    margin: 0;
    padding: 0; 
    list-style: none;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

/*Estilos de la galeria de inicio*/

#inicio .letrabonita {
    font-weight: bold;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(99, 99, 99);
}

#inicio img {
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/*Estilo aside*/

aside {
    width: 170px; 
    position: fixed; 
    top: 285px; 
    bottom: 0; 
    right: 0; 
    background-color: #f2faff;
    padding: 10px; 
    overflow-y: auto; 
    z-index: 1; 
}

.gallery {
    flex-direction: column; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gallery img {
    margin-bottom: 0px;
    width: 80%;
    height: auto;
}

/* Estilos para la sección "Sobre Nosotros" */

.sobre-nosotros {
    flex: 1;
    padding-right: 20px; 
}

.sobre-nosotros img {
    width: 140px; 
    height: 100px; 
    margin-left: 20px; 
}

#sobre-nosotros .letrabonita {
    font-weight: bold;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(99, 99, 99);
}

.ubicacioncont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 1;
}

#mapa {
    padding: 0px;
    border: 0px outset rgb(118, 173, 196);
    margin-top: 0px;
}

.ubicacion {
    margin-left: 20px; 
}

.direccion {
    text-align: center;
    color: rgb(67, 102, 122);
    font-size: 16px;
    font-style: oblique;
}

/*Estilo galeria de empleados*/

#equipo .letrabonita {
    font-weight: bold;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(99, 99, 99);
}

.empleado-gallery {
    display: grid;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.empleado-gallery img {
    height: auto;
    margin-bottom: 0px; 
    width: 180px;
    height:180px;
}

.nombre {
    font-weight: bold;
    font-style: italic;
    color: rgb(99, 99, 99);
    margin-top: 10px;
}

/* Estilos para la línea horizontal de separación entre secciones*/

.section-divider {
    border-bottom: 1px solid #ccc; 
    margin-bottom: 40px; 
}

/* Estilos para el botón de WhatsApp */

#contwhats {
    width: fit-content; 
    margin: 0 auto;
    background-color: rgba(62, 143, 190, 0.2); 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}

#whatsbtn {
    background-color: rgb(62, 143, 190); 
    color: #fff;
    border: none;
    padding: 15px 20px; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#whatsbtn:hover {
    background-color: #128C7E;
}

/*Estilo del contenedor OFERTA*/

.contoferta {
    border: 1px solid #ccc; 
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(138, 197, 221, 0.192);
}
    
.ofertatext {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ff5733;
}
    
    /*Estilo de -servicios.html-*/

.servicio {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.servicio p {
    text-align: center;
}

.servicio img {
    width: 200px;
    margin-right: 20px;
}

/*Estilo de los precios*/

.precio {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    color: #666; 
    font-style: italic;
}

.precioscont {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.precio p {
    font-weight: bold;
    font-style: italic;
    color: rgb(99, 99, 99);
    text-shadow:1px  1px 0 rgb(189, 189, 189);
    text-align: left;
}

.color-precio {
    text-shadow: 1px 1px 2px rgba(0, 60, 255, 0.5);
    color: rgb(90, 165, 209);
}


/*Estilo de las imagenes de los servicios*/

.carousel {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

/*Estilo para el carrito.js*/
.fixed-cart {
    position: fixed;
    top: 50px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    width: 300px; /* Ancho del carrito */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999; /* Asegura que el carrito esté por encima del contenido */
}

.fixed-cart h3 {
    margin-top: 0;
}

.fixed-cart ul {
    margin-top: 0;
    padding-left: 20px;
    list-style: none;
}

.fixed-cart p {
    margin-bottom: 0;
}

.fixed-cart span {
    font-weight: bold;
}


    /*Estilo -reserva.html

Estilos para el formulario de reservas */

#reservas {
    width: 90%;
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid #cacaca; 
    border-radius: 5px; 
    background-color: #e3f4ff; 
    text-align: center;
    flex-grow: 1;
    max-width: 1200px;
    max-height: 400px;
    overflow-y: auto;
}

#reservas-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 62vh;
}

.reserva-form {
    text-align: center;
}

#reservas label {
    display: block;
    margin-bottom: 5px;
    color: rgb(67, 102, 122);
}

#reservas input[type="text"],
#reservas input[type="email"],
#reservas input[type="date"],
#reservas input[type="time"]{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

#reservas select[name="nombre"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

#reservas input[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: rgb(67, 102, 122);
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#reservas input[type="submit"]:hover {
    background-color: rgb(58, 87, 106);
}

.submit-btn {
    margin: 0 auto;
    display: block;
}

/* Estilos para el historial de reservas */
h1 {
    font-size: 24px;
    color: rgb(58, 87, 106);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.reserva h5 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px; /* Tamaño de la fuente */
    color: rgb(65, 99, 122); /* Cambiar el color del texto */
    font-weight: bold; /* Añadir negrita */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
}

#historialcont {
    margin-top: 20px;
}

.reserva {
    border: 1px solid #cef0ff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #e6faff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reserva h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #34495e;
}

.cancelar-btn {
    background-color: #b33b2e;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cancelar-btn:hover {
    background-color: #691f17;
}

#mensaje-exito {
    background-color: #9affc4;
    border-color: #b7ffd5;
    color: #8a8a8a;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-cancel {
    background-color: #ede6ff; /* Fondo rojo claro */
    padding: 15px; /* Espacio interno */
    border-left: 5px solid #6f36f4; /* Borde izquierdo rojo */
    margin-bottom: 20px; /* Espacio inferior para separar del contenido siguiente */
    border-radius: 5px; /* Bordes redondeados */
}

.info-cancel p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #292929;
}


    /* Estilos para el formulario en cliente.html */

#registro-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 62vh;
}

#registro {
    width: 90%;
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid #cacaca; 
    border-radius: 5px; 
    background-color: #e3f4ff; 
    text-align: center;
}


#registro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registro label {
    display: block;
    margin-bottom: 5px;
    color: rgb(67, 102, 122);
}

#registro input[type="text"],
#registro input[type="email"],
#registro input[type="password"],
#registro input[type="login"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

#registro input[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: rgb(67, 102, 122);
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#registro input[type="submit"]:hover {
    background-color: rgb(58, 87, 106);
}


/* Estilo para el select*/

#servicio {
    width: 72%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 99);
}

/* Estilo para las opciones del select */

#servicio option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

    /* Estilo -procesar_reserva.php*/

#mensaje-reserva {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    font-style: oblique;
}

#mensaje-error{
    background-color: #f0d8d8;
    color: #763c3c;
    border: 1px solid #e9c6c6;
    padding: 15px;
    margin-bottom: 20px;
    font-style: oblique;
}

#mensaje-cita{
    background-color: #f0d8d8;
    color: #763c3c;
    border: 1px solid #e9c6c6;
    padding: 15px;
    margin-bottom: 20px;
    font-style: oblique;
}

/* Estilo para el botón de retorno */

.button-container {
    text-align: center;
    margin-top: 20px; 
}

.return-button {
    align-items: center;
    background-color: rgb(116, 169, 197);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}


/* Cambio de color al pasar el cursor */

.return-button:hover {
    background-color: rgb(69, 100, 122); 
}

    /*Estilo de -contacto.html-*/

/*Contenedores de las redes sociales*/

.social-container {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 50px;
}

.social-icon img {
    width: 50px; 
    height: 50px;
}

/*Para el horario*/

.special-horario {
    font-style: oblique;
    color: rgb(206, 237, 255);
    text-shadow: 
        -1px -1px 0 rgb(13, 163, 228),  
         1px -1px 0 rgb(28, 45, 53),
        -1px  1px 0 rgb(18, 27, 31),
         1px  1px 0 rgb(8, 9, 10);
}

    /*Estilo -terms.html*/

h2 {
    color: rgb(176, 202, 218);
    text-shadow: 
        -1px -1px 0 rgb(13, 163, 228),  
         1px -1px 0 rgb(28, 45, 53),
        -1px  1px 0 rgb(18, 27, 31),
         1px  1px 0 rgb(8, 9, 10);
}

 
/* Media Queries para hacer el sitio responsive */

@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.5em;
        top: 10px; /* Mantener el h1 en la parte superior */
        left: 50%;
        transform: translateX(-50%);
    }

    header nav {
        margin-top: 90px; /* Ajustar el margen superior para evitar solapamiento */
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        margin-right: 0;
    }

    aside {
        display: none;
    }

    .sobre-nosotros {
        padding-right: 0;
    }

    .ubicacioncont {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .empleado-gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    #reservas input[type="text"],
    #reservas input[type="email"],
    #reservas input[type="date"],
    #reservas input[type="time"],
    #reservas select[name="nombre"] {
        width: 100%;
    }

    #registro input[type="text"],
    #registro input[type="email"],
    #registro input[type="password"],
    #registro input[type="login"],
    #registro input[type="submit"] {
        width: 100%;
    }

    .social-icon {
        margin: 10px 0;
    }

    #inicio {
        flex-direction: column; /* Cambiar la dirección de la flexbox para apilar las secciones verticalmente */
    }

    #inicio div {
        width: auto;
    }
}


/*??*/
@media (max-width: 1024px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.5em;
        top: 10px; /* Mantener el h1 en la parte superior */
        left: 50%;
        transform: translateX(-50%);
    }

    header nav {
        margin-top: 90px; /* Ajustar el margen superior para evitar solapamiento */
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        margin-right: 0;
    }

    aside {
        display: none;
    }

    .sobre-nosotros {
        padding-right: 0;
    }

    .ubicacioncont {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .empleado-gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    #reservas input[type="text"],
    #reservas input[type="email"],
    #reservas input[type="date"],
    #reservas input[type="time"],
    #reservas select[name="nombre"] {
        width: 100%;
    }

    #registro input[type="text"],
    #registro input[type="email"],
    #registro input[type="password"],
    #registro input[type="login"],
    #registro input[type="submit"] {
        width: 100%;
    }

    .social-icon {
        margin: 10px 0;
    }

    #inicio {
        flex-direction: column; /* Cambiar la dirección de la flexbox para apilar las secciones verticalmente */
    }

    #inicio div {
        width: auto;
    }
}